$white: #FFFFFF;
$blue: #89B4FA;
$aquamarine: #94E2D5;
$dark-gray: rgba(154,154,154,0.22);
$white-gray: rgba(189,191,194,0.04);
$barbie: #F38BA8;
$pink: #F5C2E7;
$green: #94E2D5;
$border-layer: #8985D5;

.layout{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    height: 85%;
    border-radius: 15px;
    border: 3px solid;
    border-color: $border-layer;
    background: $dark-gray;
    backdrop-filter: blur(10px);
}

.bar{
    width: 100%;
    height: 40px;
    background: $dark-gray;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
}

.textBar{
    color: $white;
    font-size: 0.9em;
    word-spacing: -1%;
}

.text{
    font-size: 0.9em;
    display: block;
    margin-left: 10px;
    margin-top: 16px;
    color: $white;
    word-spacing: -1%;
    .blue{
        color: $blue;
    }
    .pink{
        color: $pink;
    }
    .barbie{
        color: $barbie;
    }
    .green{
        color: $green;
    }
}

.blink::after {
    content: '|';
    animation: cursor 1.1s infinite step-start;
}

@keyframes cursor {
    50% {
        opacity: 0;
    }
}